body {
 font-family: 'Roboto', sans-serif;
 margin: 0;
}
h1{
    padding: 8px;
    background: rgba(255,0,0,0.8);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab';

}
p {
    line-height: 1.5;
}
main {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
/* Inputs */

input,
textarea{
    height: 32px;
    padding: 0 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: inset 8px 3px 18px -4px rgba(0,0,0,0.4);
}
input:focus,
textarea:focus {
outline:none;
}
/* Banner */

#banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.2) url(img/aerial-view-of-a-beach-4253928.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}

#banner h3 {
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}


/* Search Box */

#searchbox {
    position: fixed;
    right: 0;
    top: 24px;
    width: 500px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4ms;
}
#searchbox input {
    height: 48px;
    width: 100%;
}
/* Navigation */

nav {
    height: 72px;
    background: #202125;
    width: 100%;
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 100;
}

nav a {
    padding: 0 32px;
    color:#eee;
    transition: 0.04s;
}
nav a:hover{
    text-decoration: none;
    color: red;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}
.active {
    color: greenyellow;
}
#logo-img {
    display: flex;
    height: 100%;
    background: #111;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}
#logo-img img {
    height: 100px;
}
#logo-img:hover{
    background: black;
}
#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}
/* Search Icon */

#search-icon{
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#search-icon:hover{
    color: red;
}

/* SlideOut Menu */
#slideout-menu{
    display: none;
}